.lighter-img {
  width: 100%;
  max-width: 100px; 
  display: block;
  margin: 0 auto;
}

.lighter {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 0;
}

/* Mobile adjustments */
@media (max-width: 200px) {
  .lighter {
    justify-content: center;
    margin-right: 0;
    margin-top: 10px; 
  }
  .lighter-img {
    width: 100%;
    max-width: 100px; 
    display: block;
    margin: 0 auto;
}
}
